<h1>Listing gifts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Score cost</th>
    <th>Transaction</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gifts.each do |gift| %>
  <tr>
    <td><%= gift.name %></td>
    <td><%= gift.url %></td>
    <td><%= gift.score_cost %></td>
    <td><%= gift.transaction_id %></td>
    <td><%= gift.sender_id %></td>
    <td><%= gift.receiver_id %></td>
    <td><%= link_to 'Show', gift %></td>
    <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
    <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gift', new_gift_path %>
